@tailwind base;
@tailwind components;
@tailwind utilities;

/* Show the dropdown menu when the parent is hovered */
.dropdown-toggle:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

/* Hide the dropdown menu by default */
.dropdown-menu {
  display: none;
}

.no-scroll {
  overflow: hidden;
}
